[Unit]
Description=VNC Server on Port 5901

[Service]
Type=oneshot
User=test
RemainAfterExit=true
ExecStart=/opt/tightvnc.sh

[Install]
WantedBy=multi-user.target
